@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 3em;

  @include down($breakpoint-md) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
  }
}

.projectDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projectTitle {
  @include down($breakpoint-md) {
    text-align: center;
  }
}

.projectLink {
  color: $text-primary;
  text-decoration: none;
  transition: transform 0.25s;
  display: flex;
  align-items: center;

  @include down($breakpoint-md) {
    justify-content: center;
  }

  &:hover {
    transform: translate(0, -3px);
  }
}

.projectLinkIcon {
  margin-left: 1em;
  opacity: 0.8;
}

.softwareIconContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;

  @include down($breakpoint-md) {
    justify-content: center;
  }
}

.softwareIcon {
  height: 32px;
  width: 32px;

  @include down($breakpoint-sm) {
    height: 25px;
    width: 25px;
  }
}

.description {
  margin-top: 1em;
}

.projectImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  @include between($breakpoint-md, $breakpoint-lg) {
    max-width: 50%;
  }
}

.projectImage {
  height: 20em;
  width: auto;
  box-shadow: $box-shadow;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 0 0;

  @include down($breakpoint-lg) {
    width: 100%;
    height: auto;
  }
}
