@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #{$gradient-color-1};
  --gradient-color-2: #{$gradient-color-2};
  --gradient-color-3: #{$gradient-color-3};
  --gradient-color-4: #{$gradient-color-4};
  --gradient-speed: #{$gradient-speed};
}

.staticGradient {
  position: absolute;
  width: 100%;
  height: 5em;
  background: linear-gradient(90deg, $gradient-color-1, $gradient-color-2);

  @include down($breakpoint-md) {
    height: 4em;
  }

  @include down($breakpoint-sm) {
    height: 3.5em;
  }
}

.gradientContainer {
  position: absolute;
  width: 100%;
  // height: 70%;
  height: 40vw;

  @include down($breakpoint-lg) {
    // height: 50%;
    height: 55vw;
  }

  @include down($breakpoint-md) {
    height: 60vw;
  }

  @include down($breakpoint-sm) {
    height: 90vw;
  }

  @include down($breakpoint-xs) {
    height: 100vw;
  }
}

.gradient {
  clip-path: url("#gradientClipPath");
}

.gradientPath {
  @include down($breakpoint-md) {
    display: none;
  }
}

.gradientPathSm {
  display: none;

  @include down($breakpoint-md) {
    display: block;
  }
}
