.canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #F60101; 
  --gradient-color-2: #272A92; 
  --gradient-color-3: #00E7D6;  
  --gradient-color-4: #0780BA;
  --gradient-speed: 0.000003;
}