@import "~/styles/variables.scss";

$hero-gradient: linear-gradient(#0005, #000f);

.heroContainer {
  padding: 3em 3em 0 3em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5em;
}

.heroImage img {
  mask: $hero-gradient;
}

.heroTitle {
  font-size: 8em;
  font-weight: bold;
  color: $text-primary;
  display: flex;
  align-items: center;
  mask: $hero-gradient;
}