@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.navbarContainer {
  top: 0;
  left: 0;
  width: 100%;

  padding: $container-padding;

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.navIcon {
  width: 50px;
  height: auto;
  color: white;

  @include down($breakpoint-md) {
    width: 30px;
  }
}

.navIcon:hover {
  opacity: 0.7;
}

.navLinkContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5em;

  @include down($breakpoint-sm) {
    display: none;
  }
}

.navLink {
  color: $text-alt;

  @include down($breakpoint-sm) {
    color: $text-primary;
  }
}

.navMobile {
  display: none;

  @include down($breakpoint-sm) {
    display: block;
  }
}

.navSandwich {
  width: 1.3em;
  margin-left: auto;
  margin-right: 0;
  color: $text-alt;
}

.navLinkContainerMobile {
  display: none;

  @include down($breakpoint-sm) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 3em 3em 0 0;
    padding: $container-padding;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 3em;

    background-color: $text-alt;
    color: $text-primary;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }
}

.gradientContainer {
  position: absolute;
  width: 100%;
  height: 70%;

  @include down($breakpoint-lg) {
    height: 50%;
  }

  @include down($breakpoint-md) {
    height: 45%;
  }

  @include down($breakpoint-sm) {
    height: 40%;
  }
}

.gradient {
  clip-path: url("#gradientClipPath");
}

.gradientPath {
  @include down($breakpoint-sm) {
    display: none;
  }
}

.gradientPathSmall {
  display: none;

  @include down($breakpoint-sm) {
    display: block;
  }
}
