@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.navbarContainer {
  top: 0;
  left: 0;
  width: 100%;

  padding: $container-padding;

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.navIcon {
  width: 50px;
  height: auto;
  color: white;

  @include down($breakpoint-md) {
    width: 30px;
  }
}

.navLinkContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5em;
}

.navLink {
  color: $text-alt;
}

.gradientContainer {
  position: absolute;
  width: 100%;
  height: 70%;

  @include down($breakpoint-lg) {
    height: 70%;
  }

  @include down($breakpoint-md) {
    height: 45%;
  }
}

.gradient {
  clip-path: url("#gradientClipPath");
}
