.App {
  text-align: left;
  /* background-color: white; */
  background-image: url('./assets/background.png');
  background-repeat: repeat-y;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  vertical-align: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

p {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18;
  color: #737373;
}

a {
  color: inherit;
}

span {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18;
  color: #737373;
}

.icon-text {
  vertical-align: middle
}

.icon {
  width: max-content;
  padding-right: 20;
  margin: 0;
}

.Section {
  padding: 40px;
  padding-right: 35vw;
  min-height: 70vh;
  flex-direction: row;
}

.SectionHead {
  padding-bottom: 100px;
}

.Feature {
  margin-bottom: 20%;
  padding: 20px;
}

.ParagraphCard {
  padding: 20px;
}

.OneLineCard {
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 10px;
}

.IconCard {
  height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.Center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}