$text-primary: #000000;
$text-alt: #ffffff;

$text-size-hero: 7em;
$text-size-hero-lg: 6em;
$text-size-hero-md: 3.5em;
$text-size-hero-sm: 3em;
$text-size-hero-xs: 2.5em;

$text-size-h1: 3em;
$text-size-h2: 2em;
$text-size-body: 1em;
$text-size-subtitle: 0.8em;
$text-size-subtitle-sm: 0.6em;
$text-size-subtitle-xs: 0.4em;

$container-padding: 1em 1.5em 1em 1.5em;
$box-shadow: 1px 1px 10px 3px #0003;
$text-shadow: 1px 1px 10px #0005;

$background-color: #feffd6;
$content-background-color: #ffffff;
$background-color-unfocused: #0003;

$gradient-color-1: #f60101;
$gradient-color-2: #272a92;
$gradient-color-3: #00e7d6;
$gradient-color-4: #0780ba;
$gradient-speed: 0.000003;

$logo-hover-transition: 0.2s;
