$text-primary: #000000;
$text-alt: #ffffff;

$text-size-hero: 7em;
$text-size-hero-lg: 6em;
$text-size-hero-md: 5em;
$text-size-hero-sm: 3em;

$text-size-h1: 3em;
$text-size-h2: 2em;
$text-size-body: 1em;
$text-size-subtitle: 0.8em;

$container-padding: 1em 1.5em 1em 1.5em;
$box-shadow: 1px 1px 10px 3px #0003;

$background-color: #feffd6;
$content-background-color: #ffffff;
