$text-primary: #000000;
$text-alt: #FFFFFF;

$text-size-hero: 100px;
$text-size-h1: 70px;
$text-size-h2: 36px;
$text-size-body: 20px;
$text-size-subtitle: 16px;

$background-color: #FEFFD6;
$content-background-color: #FFFFFF;